REST_ADDRESS=:8080
DIAGNOSTICS_ADDRESS=:7073
LOG_LEVEL=INFO
SHUTDOWN_TIMEOUT=10s

MONGO_URI=mongodb://root:password@localhost:27017/?replicaSet=rs0&authSource=admin
REDIS_URI=redis://:yourpassword@localhost:6379

JWT_PRIVATE_KEY_B64=LS0tLS1CRUdJTiBFQyBQUklWQVRFIEtFWS0tLS0tCk1IY0NBUUVFSUFLaXU2bkw4T0JkdzFlS3F2RkU2QlRFZ3RwbERiMXJkWTlFNmQrSVQrNGRvQW9HQ0NxR1NNNDkKQXdFSG9VUURRZ0FFMDNjYmNtcVVaQVUvV1FMM1h1ODhudkExdlYrNGtoOG9HMEJtTlFESEFUcktGQnRSckltUAp0YjU3OXJ6MTA5TmhKM05RSXQrNnlZbVNlUDR5N2VNMldRPT0KLS0tLS1FTkQgRUMgUFJJVkFURSBLRVktLS0tLQo=

APP_ENV=local

KAFKA_BROKERS=localhost:19092
KAFKA_SASL_ENABLED=true
KAFKA_SASL_USER=app
KAFKA_SASL_PASSWORD=app-secret
